<!DOCTYPE html PUBLIC xmlns="http://www.w3.org/1999/xhtml" "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/sprites.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jqlevis/jquery-ui-1.8.10.custom.css" />
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.10.custom.min.js"></script>
<title>{% block title %}Levis{% endblock %}</title>
</head> 
<body>
{% block content %}{% endblock %}
</body>
</html>