{% extends "base.fieldset.html" %}
{% block fieldset %}


<script type="text/javascript">
	$(function(){
        
        $('#datepicker').datepicker({
            inline: true,
            changeMonth: true,
			changeYear: true,
            showOtherMonths: true,
			selectOtherMonths: true,
            showWeek: true,
			firstDay: 1,
            dateFormat: 'yy-mm-dd',
            defaultDate: '{{ date.year }}-{{ date.month }}-{{ date.day }}',
            onSelect: function(dateText, inst) {
                window.location = dateText;
            }
        });
       
    });
</script>
{% endblock %}