{% extends "scheduling/base.html" %}
{% block scheduling %}

<div>
<table class="schedule">
{% for events_on_day in events %}
{% for event in events_on_day %}
{% ifchanged events_on_day %} <tr><td colspan="3" style="border-bottom: 1px solid black;"><td></tr> {% endifchanged %}
<tr>    
    {% ifchanged events_on_day %}
    <th style="padding: 5px; vertical-align:top;{% ifequal today event.date_start %} background-color: #F9DD34;{% endifequal %}" rowspan="{{events_on_day|length}}" nowrap>
    <a href="/{{appname}}/my_day/{{ event.date_start|date:"Y-m-d"}}">{{ event.date_start|date:"D. j. M." }}</a>
    </th>
    {% endifchanged %}
    
    <td style="padding: 5px;" nowrap>{{ event.time_start|time:"H:i"}} - {{ event.time_end|time:"H:i"}}</td>
    <td style="padding: 5px; width: 100%;">{{ event.description }}</td>
</tr>
{% endfor %}
{% endfor %}

</table>
</div>

<script type="text/javascript">
	$(function(){
        
        $('#datepicker').datepicker({
            inline: true,
            changeMonth: true,
			changeYear: true,
            showOtherMonths: true,
            showButtonPanel: true,
			selectOtherMonths: true,
            showWeek: true,
			firstDay: 1,
            dateFormat: 'yy-mm-dd',
            defaultDate: '{{ date|date:"Y-m-d" }}',
            onSelect: function(dateText, inst) {
                window.location = dateText;
            }
        });
    
        $(".schedule_nav a:first" ).button({
            icons: {
                primary: "ui-icon-bullet"
            }
        }).next().button({
            icons: {
                primary: "ui-icon-triangle-1-w"
            },
            text: false
        }).next().button({
            icons: {
                primary: "ui-icon-triangle-1-e"
            },
            text: false
        });
    
    });
</script>
{% endblock %}