{% extends "base.fieldset.html" %}
{% block fieldset %}

<a href="{{today}}">today</a> <a href="{{ prev }}">prev</a> <a href="{{ next }}">next</a> {{ weekday }} {{ date }}

<div>
<table>
<tr>
    <td style="vertical-align: top; width: 60px;">
    {% for hour in slots %}
    <div style="height: 42px; text-align: right;">{{hour}}</div>
    {% endfor %}
    </td>
    <td style="vertical-align: top;">
        <div style="height: 1008px; margin-bottom: -1008px; position: static;"></div>
        <div style="height: 1008px; margin-bottom: -1008px; position: relative;">
            {% for event in events %}            
            <div style="position: absolute; top: {{event.top}}px; overflow: hidden; width: 100%;">
                <dl style="background-color: red; padding: 0 0 1px; margin: 0;">
                <dt style="padding: 0 1px;">
                    {{ event.time_start }}:{{ event.time_end }}
                </dt>
                <dd style="padding: 0 1px; margin: 0;">
                    {{ event.description }}
                <dd>
                </dl>
            </div>
            {% endfor %}
                
        </div>
    </td>
</tr>
</table>
</div>

<script type="text/javascript">
	$(function(){
        
        $('#datepicker').datepicker({
            inline: true,
            changeMonth: true,
			changeYear: true,
            showOtherMonths: true,
			selectOtherMonths: true,
            showWeek: true,
			firstDay: 1,
            dateFormat: 'yy-mm-dd',
            defaultDate: '{{ date.year }}-{{ date.month }}-{{ date.day }}',
            onSelect: function(dateText, inst) {
                window.location = dateText;
            }
        });
       
    });
</script>
{% endblock %}