{% extends "base.fieldset.html" %}
{% block fieldset %}

<a href="{{today}}">today</a> <a href="{{ prev }}">prev</a> <a href="{{ next }}">next</a> {{ weekday }} {{ date }}

<div>
<table class="schedule">
<tr height="1">
    <td class="hours"></td>
    <td colspan="2">
        <div class="event_spanningwrapper">            
            <div class="event_hourmarker">
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
            </div>            
        </div>
    </td>
</tr>
<tr>
    <td class="hours">
        {% for hour in slots %}
        <div><div>{{hour}}</div></div>
        {% endfor %}
    </td>
    <td>
        <div class="event_spacer"></div>
        <div class="event_wrapper">
            {% for event in events %}            
            <div class="event_container" style="top: {{event.top}}px;">
                <dl>
                    <dt>
                        {{ event.time_start }}:{{ event.time_end }}
                    </dt>
                    <dd>
                        {{ event.description }}
                    <dd>
                </dl>
            </div>
            {% endfor %}
                
        </div>
    </td>
    <td>
        <div class="event_spacer"></div>
        <div class="event_wrapper">
            {% for event in events %}            
            <div class="event_container" style="top: {{event.top}}px;">
                <dl>
                    <dt>
                        {{ event.time_start }}:{{ event.time_end }}
                    </dt>
                    <dd>
                        {{ event.description }}
                    <dd>
                </dl>
            </div>
            {% endfor %}
                
        </div>
    </td>
</tr>
</table>
</div>

<script type="text/javascript">
	$(function(){
        
        $('#datepicker').datepicker({
            inline: true,
            changeMonth: true,
			changeYear: true,
            showOtherMonths: true,
			selectOtherMonths: true,
            showWeek: true,
			firstDay: 1,
            dateFormat: 'yy-mm-dd',
            defaultDate: '{{ date.year }}-{{ date.month }}-{{ date.day }}',
            onSelect: function(dateText, inst) {
                window.location = dateText;
            }
        });
       
    });
</script>
{% endblock %}