{% extends "scheduling/base.html" %}
{% block scheduling %}

<table class="schedule horizontal">
<tr class="days">
    <td><a href="/{{appname}}/my_week/{{date|date:"Y-m-d"}}">Week {{date|date:"W"}}</a></td>
    {% for day in days %}
    <td><a href="/{{appname}}/my_day/{{day|date:"Y-m-d"}}">{{day|date:"D j/n"}}</a></td>
    {% endfor %}
</tr>
</table>
<!--<div style="overflow: auto;">-->
<div style="overflow: auto; width: 600px;" id="schedule_width">
<table class="schedule horizontal" style="width: 2150px;">
<tr>
    <td></td>
    <td>
        <div style="position: relative; left: 2px;  clear: both;">
        {% for hour in slots %}
        <div style="float: left; width: 84px; "><div style="border-left: 1px solid black; padding-left: 1px;">{{hour}}</div></div>
        {% endfor %}
        </div>
    </td>
</tr>
<tr height="1">
    <td class="hours"></td>
    <td colspan="{{events|length}}" >
        <div class="event_spanningwrapper">            
            <div class="event_hourmarker" style="height: {{ kinck }}px; margin-bottom: -{{ kinck }}px;">
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
            </div>            
        </div>
    </td>
</tr>
{% for events_on_day in events %}
<tr>
    <td class="hours" nowrap>        
        <div><div>somebody</div></div>        
    </td>
    
    <td style="border-top: 1px solid black;" nowrap>
        <div class="event_spacer"></div>
        <div class="event_wrapper">
            {% for event in events_on_day %}
            <div class="event_container" style="left: {{event.left}}px; width: {{event.elapsed}}px;">
                <dl class="event">
                    <dt>
                        {{ event.time_start|time:"H:i" }} - {{ event.time_end|time:"H:i" }}
                    </dt>
                    <dd>
                        {{ event.time_elapsed }}
                    <dd>
                </dl>
            </div>
            {% endfor %}
        </div>
    </td>
    
</tr>
{% endfor %}
</table>
</div>

<script type="text/javascript">
	$(function(){
       
		function resize_schedule() {
            
            $('#schedule_width').width(	// Fit height
				$(window).width() -
				($("#schedule_width").offset().left+50)
			);
            $('#schedule_width').scrollLeft( {{earliest}}*2 );
		}
       
		$(window).resize( resize_schedule );    // Resize schedule when window
		resize_schedule();                      // Resize schedule initially        
       
    });
</script>

{% endblock %}