{% extends "base.fieldset.html" %}
{% block fieldset %}

<div>
<a href="{{today|date:"Y-m-d"}}">today</a>
<a href="{{ prev|date:"Y-m-d" }}">prev</a>
<a href="{{ next|date:"Y-m-d" }}">next</a>
{% ifnotequal start end %}
    {% ifnotequal start.day end.day %}
    {{ start|date:"j." }}
    {% endifnotequal %}
    
    {% ifnotequal start.month end.month %}
    {{ start|date:"M." }}
    {% endifnotequal %}
    
    {% ifnotequal start.year end.year %}
    {{ start|date:"Y." }}
    {% endifnotequal %}
    -
    {{ end|date:"j. M. Y" }}
{% else %}
    {{ start|date:"j. M. Y" }}
{% endifnotequal %}
</div>
<div>
<table class="schedule">
<tr class="days">
    <td><a href="/{{appname}}/my_week/{{date|date:"Y-m-d"}}">Week {{date|date:"W"}}</a></td>
    {% for day in days %}
    <td><a href="/{{appname}}/my_day/{{day|date:"Y-m-d"}}">{{day|date:"D j/n"}}</a></td>
    {% endfor %}
</tr>
<tr height="1">
    <td class="hours"></td>
    <td colspan="{{events|length}}">
        <div class="event_spanningwrapper">            
            <div class="event_hourmarker">
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
            </div>            
        </div>
    </td>
</tr>
<tr>
    <td class="hours">
        {% for hour in slots %}
        <div><div>{{hour}}</div></div>
        {% endfor %}
    </td>
    {% for events_on_day in events %}
    <td>
        <div class="event_spacer"></div>
        <div class="event_wrapper">            
            {% for event in events_on_day %}
            <div class="event_container" style="top: {{event.top}}px;">
                <dl>
                    <dt>
                        {{ event.time_start|time:"H:i" }} - {{ event.time_end|time:"H:i" }}
                    </dt>
                    <dd>
                        {{ event.description }}
                    <dd>
                </dl>
            </div>
            {% endfor %}
        </div>
    </td>
    {% endfor %}
</tr>
</table>
</div>

<script type="text/javascript">
	$(function(){
        
        $('#datepicker').datepicker({
            inline: true,
            changeMonth: true,
			changeYear: true,
            showOtherMonths: true,
            showButtonPanel: true,
			selectOtherMonths: true,
            showWeek: true,
			firstDay: 1,
            dateFormat: 'yy-mm-dd',
            defaultDate: '{{ date|date:"Y-m-d" }}',
            onSelect: function(dateText, inst) {
                window.location = dateText;
            }
        });
       
    });
</script>
{% endblock %}