{% extends "scheduling/base.html" %}
{% block scheduling %}
<div>
<table class="schedule vertical">
<tr class="days">
    <td style="width: 60px;"><a href="/{{appname}}/my_week/{{date|date:"Y-m-d"}}">Week {{date|date:"W"}}</a></td>
    {% for day in days %}
    <td><a href="/{{appname}}/my_day/{{day|date:"Y-m-d"}}">{{day|date:"D j/n"}}</a></td>
    {% endfor %}
	<td style="width: 14px; padding: 0; margin: 0;"></td>
</tr>
</table>
</div>
<div style="overflow: auto;"  id="schedule_wrapper">
	<div style="height: 480px;" id="schedule_container">
<table class="schedule vertical">
<tr height="1">
    <td class="hours"></td>
    <td colspan="{{events|length}}">		
        <div class="event_spanningwrapper">            
            <div class="event_hourmarker">
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
                <div class="event_markercell"><div class="event_dualmarker"></div></div>
				<div style="position: absolute; top: 100; background-color: orange; height: 1px; width: 100%;"></div>
            </div>            
        </div>
    </td>
</tr>
<tr>
    <td class="hours">
        {% for hour in slots %}
        <div><div>{{hour}}</div></div>
        {% endfor %}
    </td>
    {% for events_on_day in events %}
    <td>
        <div class="event_spacer"></div>
        <div class="event_wrapper">            
            {% for event in events_on_day %}
            <div class="event_container" style="top: {{event.top}}px;">
                <dl class="event">
                    <dt>
                        {{ event.time_start|time:"H:i" }} - {{ event.time_end|time:"H:i" }}
                    </dt>
                    <dd>
                        {{ event.description }}
                    <dd>
                </dl>
            </div>
            {% endfor %}
        </div>
    </td>
    {% endfor %}
</tr>
</table>
	</div>
</div>
<script type="text/javascript">
	$(function(){
        
		function resize_schedule() {
			$('#schedule_container').height(	// Fit height
				$(window).height() -
				($("#schedule_wrapper").offset().top+50)
			);
												// scroll to the first event
			$('#schedule_wrapper').scrollTop( {{earliest}} );
		}
		
		$(window).resize( resize_schedule );	// Resize schedule when window
												// is resized
		resize_schedule();	// Resize schedule initially
       
    });
</script>
{% endblock %}