/*===============
	ICONS
===============*/

.icon {
	padding: 3px 6px 3px 22px;
	background: url('/static/img/icons/bullet_black.png') no-repeat  scroll 2px 50%;
	color: black;
}
legend.icon  {
	background: rgb(236,236,236) url('/static/img/icons/bullet_black.png') no-repeat  scroll 2px 50%;
}
.iconlink, .iconalink {
	display: block;
	padding: 0;
	width: 16px;
	height: 16px;
	background: no-repeat 0 0;
	cursor: pointer;
}
.iconalink {
	opacity: .5;
}
.iconalink:hover {
	opacity: 1;
}

.icon.blank {	background-image: url('/static/img/icons/blank.png');}

.icon.add {	background-image: url('/static/img/icons/add.png');}
.icon.edit {	background-image: url('/static/img/icons/pencil.png');}
.icon.del {	background-image: url('/static/img/icons/delete.png');}
.icon.arrowUp {	background-image: url('/static/img/icons/arrow_up.png');}
.icon.arrowRight {	background-image: url('/static/img/icons/arrow_right.png');}
.icon.arrowDown {	background-image: url('/static/img/icons/arrow_down.png');}
.icon.files {	background-image: url('/static/img/icons/folder_page.png');}
.icon.arrowLeft {	background-image: url('/static/img/icons/arrow_left.png');}

.icon.personnel {	background-image: url('/static/img/icons/user.png') !important; }
.icon.personnel.sale {	background-image: url('/static/img/icons/user_gray.png') !important;}
.icon.personnel.tech {	background-image: url('/static/img/icons/user_suit.png') !important;}
.icon.personnel.dev {	background-image: url('/static/img/icons/tux.png') !important;}
.icon.personnel.chick {	background-image: url('/static/img/icons/user_female.png') !important;}
.icon.server {	background-image: url('/static/img/icons/computer.png'); }
.icon.report {	background-image: url('/static/img/icons/report.png'); }
.icon.download {	background-image: url('/static/img/icons/download.png'); }
.icon.pwdsend { background-image: url('/static/img/icons/key_go.png'); }
.icon.ackYes { background-image: url('/static/img/icons/tick.png'); }
.icon.ackNo { background-image: url('/static/img/icons/tick_gray.png'); }

.icon.rdp { background-image: url('/static/img/icons/remote_rdp.png'); }
.icon.vnc { background-image: url('/static/img/icons/remote_vnc.png'); }

.icon.acked { background-image: url('/static/img/icons/tick.png'); }
.icon.unacked { background-image: url('/static/img/icons/tick_gray.png'); }
.icon.alarm { background-image: url('/static/img/icons/bell.png'); }
.icon.trigger { background-image: url('/static/img/icons/bomb.png'); }

.icon.softcare { 	background-image: url('/static/img/icons/house.png'); }
.icon.logout { 	background-image: url('/static/img/icons/door_out.png'); }
.icon.settings { 	background-image: url('/static/img/icons/wrench.png'); }
.icon.administration { 	background-image: url('/static/img/icons/server_database.png'); }
.icon.knowledge { background-image: url('/static/img/icons/help.png'); }
.icon.help { background-image: url('/static/img/icons/help.png'); }
.icon.support { background-image: url('/static/img/icons/remote_access.png'); }

.icon.clock { 	background-image: url('/static/img/icons/time.png'); }

.icon.spinner { background-image: url("chrome://browser/skin/Throbber.gif"); }

.icon.good { 	background-image: url('/static/img/icons/accept.png'); }
.icon.fail {	background-image: url('/static/img/icons/cancel.png'); }
.icon.plus {	background-image: url('/static/img/icons/bullet_toggle_plus.png');}
.icon.minus {	background-image: url('/static/img/icons/bullet_toggle_minus.png');}
.icon.map {	background-image: url('/static/img/icons/map.png');}

.icon.emailexternal {	background-image: url('/static/img/icons/email.png'); }
.icon.emailinternal {	background-image: url('/static/img/icons/email.png'); }
.icon.emailnotificationext {	background-image: url('/static/img/icons/email.png'); }
.icon.emailnotificationint {	background-image: url('/static/img/icons/email.png'); }
.icon.phone {	background-image: url('/static/img/icons/phone.png'); }
.icon.fax {	background-image: url('/static/img/icons/phone.png'); }
.icon.sms {	background-image: url('/static/img/icons/phone.png'); }
.icon.webrequest {	background-image: url('/static/img/icons/email.png'); }
.icon.noteinternal {	background-image: url('/static/img/icons/note.png'); }
.icon.noteexternal {	background-image: url('/static/img/icons/note_go.png'); }
.icon.notereport {	background-image: url('/static/img/icons/note_error.png'); }

.icon.organization { background-image: url('/static/img/icons/user_suit.png'); }
.icon.customer { background-image: url('/static/img/icons/user_suit.png'); }
.icon.system { background-image: url('/static/img/icons/cog.png'); }
.icon.agent { background-image: url('/static/img/icons/user.png'); }

.icon.email {	background-image: url('/static/img/icons/email.png'); }
.icon.email.open {	background-image: url('/static/img/icons/email_open.png'); }
.icon.email.new {	background-image: url('/static/img/icons/email_add.png'); }
.icon.email.attach {	background-image: url('/static/img/icons/email_attach.png'); }
.icon.email.reply {	background-image: url('/static/img/icons/email_reply.png'); }
.icon.email.forward {	background-image: url('/static/img/icons/email_forward.png'); }
.icon.email.note {	background-image: url('/static/img/icons/email_note.png'); }
.icon.email.system {	background-image: url('/static/img/icons/email_cog.png'); }
.icon.email.user {	background-image: url('/static/img/icons/email_user.png'); }
.icon.attach {	background-image: url('/static/img/icons/attach.png'); }
.icon.note {	background-image: url('/static/img/icons/note.png'); }
.icon.note.add {	background-image: url('/static/img/icons/note_add.png'); }
.icon.lock {	background-image: url('/static/img/icons/lock.png'); }
.icon.unlock {	background-image: url('/static/img/icons/lock_open.png'); }
.icon.remind.later {	background-image: url('/static/img/icons/bell_go.png'); }
.icon.close {	background-image: url('/static/img/icons/email_tick.png'); }
.icon.print {	background-image: url('/static/img/icons/printer.png'); }
.icon.spam {	background-image: url('/static/img/icons/spam.png'); }
.icon.history {	background-image: url('/static/img/icons/table.png'); }
.icon.customer.add { background-image: url('/static/img/icons/group_add.png'); }
.icon.customer.del { background-image: url('/static/img/icons/group_delete.png'); }
.icon.customer.invalid { background-image: url('/static/img/icons/user_delete.png'); }
.icon.customeruser.reactivate { background-image: url('/static/img/icons/key_add.png'); }
.icon.customer.unnotified { background-image: url('/static/img/icons/email_delete.png'); }

.icon.user { background-image: url('/static/img/icons/user.png'); }
.icon.user.add { background-image: url('/static/img/icons/user_add.png'); }
.icon.logs { background-image: url('/static/img/icons/table_multiple.png'); }
.icon.chart { background-image: url('/static/img/icons/chart_curve.png'); }
.icon.chart.curve { background-image: url('/static/img/icons/chart_curve.png'); }
.icon.wheel { background-image: url('/static/img/icons/cog.png'); }
.icon.booking { background-image: url('/static/img/icons/calendar.png'); }
.icon.scheduling { background-image: url('/static/img/icons/calendar.png'); }
.icon.booking.add { background-image: url('/static/img/icons/calendar_add.png'); }
.icon.booking.add { background-image: url('/static/img/icons/calendar_add.png'); }
.icon.booking.day { background-image: url('/static/img/icons/calendar_view_day.png'); }
.icon.booking.week { background-image: url('/static/img/icons/calendar_view_week.png'); }
.icon.booking.month { background-image: url('/static/img/icons/calendar_view_month.png'); }
.icon.single { background-image: url('/img/booking/eventB.gif'); }
.icon.recurrent { background-image: url('/img/booking/recurrentB.gif'); }

.icon.server { background-image: url('/static/img/icons/server.png'); }
.icon.server.add { background-image: url('/static/img/icons/server_add.png'); }
.icon.pdf { background-image: url('/static/img/icons/page_white_acrobat.png'); }
.icon.coins { background-image: url('/static/img/icons/coins.png'); }
.icon.coins.del { background-image: url('/static/img/icons/coins_delete.png'); }
.icon.csv { background-image: url('/static/img/icons/page_excel.png'); }
.icon.layout { background-image: url('/static/img/icons/layout.png'); }
.icon.layout.add { background-image: url('/static/img/icons/layout_add.png'); }
.icon.layout.edit { background-image: url('/static/img/icons/layout_edit.png'); }
.icon.browse { background-image: url('/static/img/icons/application_view_list.png'); }
.icon.server { background-image: url('/static/img/icons/server.png'); }
.icon.host { background-image: url('/static/img/icons/server.png'); }
.icon.search { background-image: url('/static/img/icons/magnifier.png'); }
.icon.summary { background-image: url('/static/img/icons/application_view_tile.png'); }
.icon.dropdown { background-image: url('/static/img/icons/bullet_arrow_down.png'); }
.icon.msgNormal { background-image: url('/static/img/icons/page_white_text.png'); }
.icon.msgHTML { background-image: url('/static/img/icons/page_white_html.png'); }
.icon.msgSource { background-image: url('/static/img/icons/page_white_code_gray.png'); }

.icon.inventory.filterOff { background-image: url('/static/img/icons/page_delete.png'); }
.icon.inventory.software { background-image: url('/static/img/icons/application_cascade.png'); }
.icon.inventory.hardware { background-image: url('/static/img/icons/computer.png'); }

.icon.inventory { background-image: url('/static/img/icons/computer.png'); }


.icon.reports { background-image: url('/static/img/icons/pictures.png'); }
.icon.slideshow { background-image: url('/static/img/icons/pictures.png'); }
.icon.slideshow.browse { background-image: url('/static/img/icons/pictures.png'); }
.icon.slideshow.view { background-image: url('/static/img/icons/picture.png'); }
.icon.slideshow.add { background-image: url('/static/img/icons/picture_add.png'); }
.icon.slideshow.edit { background-image: url('/static/img/icons/picture_edit.png'); }
.icon.slideshow.delete { background-image: url('/static/img/icons/picture_delete.png'); }

.icon.wikiadd { background-image: url('/static/img/icons/application_link.png'); }

.icon.collapse { background-image: url('/static/img/icons/expanded.png'); }
.icon.expand { background-image: url('/static/img/icons/collapsed.png'); }

.icon.file_page_white { background-image: url('/static/img/icons/page_white.png'); }
.icon.file_application { background-image: url('/static/img/icons/application.png'); }
.icon.file_music { background-image: url('/static/img/icons/music.png'); }
.icon.file_picture { background-image: url('/static/img/icons/picture.png'); }
.icon.file_email { background-image: url('/static/img/icons/email.png'); }
.icon.file_page_white_text { background-image: url('/static/img/icons/page_white_text.png'); }
.icon.file_page_word { background-image: url('/static/img/icons/page_word.png'); }
.icon.file_page_white_acrobat { background-image: url('/static/img/icons/page_white_acrobat.png'); }
.icon.file_page_white_compressed { background-image: url('/static/img/icons/page_white_compressed.png'); }

.icon.l1 { background-image: url('/static/img/icons/bullet_green.png'); }
.icon.l2 { background-image: url('/static/img/icons/bullet_blue.png'); }
.icon.l3 { background-image: url('/static/img/icons/bullet_yellow.png'); background-color: rgb(255,255,222); background-repeat: no-repeat;}
.icon.l4 { background-image: url('/static/img/icons/bullet_red.png'); background-color: rgb(255,222,222); }
.icon.l5 { background-image: url('/static/img/icons/exclamation.png'); background-color: rgb(255,190,190); }
.icon.l6 { background-image: url('/static/img/icons/exclamation_gray.png'); background-color: rgb(255,190,190); }

.icon.passwords { background-image: url('/static/img/icons/table_key.png'); }

.icon.surveillance.schedule_down { background-image: url('/static/img/icons/date_error.png'); }
.icon.surveillance.browse_schedule_down { background-image: url('/static/img/icons/date_magnify.png'); }

.icon.customers { background-image: url('/static/img/icons/user_suit.png'); }
.icon.monitoring { background-image: url('/static/img/icons/eye.png'); }
.icon.surveillance { background-image: url('/static/img/icons/eye.png'); }
.icon.helpdesk { background-image: url('/static/img/icons/email.png'); }
.icon.password { background-image: url('/static/img/icons/computer_key.png'); }
.icon.products { background-image: url('/static/img/icons/application_cascade.png'); }
.icon.locations { background-image: url('/static/img/icons/arrow_branch.png'); }
.icon.contacts { background-image: url('/static/img/icons/book.png'); }
.icon.accounting { background-image: url('/static/img/icons/coins.png'); }

.icon.schedule { background-image: url('/static/img/icons/calendar_view_day.png'); }

.icon.medal { background-image: url('/static/img/icons/award_star_gold_2.png'); }

.icon.cart { background-image: url('/static/img/icons/cart.png'); }
.icon.drive { background-image: url('/static/img/icons/drive.png'); }
.icon.services { background-image: url('/static/img/icons/services.png'); }