.gui-icon-accounting { background-position: -16px -0px; }
.gui-icon-bullet-black { background-position: -32px -0px; }
.gui-icon-bullet-blue { background-position: -48px -0px; }
.gui-icon-bullet-green { background-position: -0px -16px; }
.gui-icon-bullet-orange { background-position: -16px -16px; }
.gui-icon-bullet-pink { background-position: -32px -16px; }
.gui-icon-bullet-purple { background-position: -48px -16px; }
.gui-icon-bullet-red { background-position: -0px -32px; }
.gui-icon-bullet-yellow { background-position: -16px -32px; }
.gui-icon-dashboard { background-position: -32px -32px; }
.gui-icon-helpdesk { background-position: -48px -32px; }
.gui-icon-knowledge { background-position: -0px -48px; }
.gui-icon-lock-locked { background-position: -16px -48px; }
.gui-icon-lock-unlocked { background-position: -32px -48px; }
.gui-icon-monitoring { background-position: -48px -48px; }
.gui-icon-nav-first { background-position: -0px -64px; }
.gui-icon-nav-last { background-position: -16px -64px; }
.gui-icon-nav-next { background-position: -32px -64px; }
.gui-icon-nav-prev { background-position: -48px -64px; }
.gui-icon-organization { background-position: -0px -80px; }
.gui-icon-reports { background-position: -16px -80px; }
.gui-icon-scheduling { background-position: -32px -80px; }
.gui-icon-scheduling-day { background-position: -48px -80px; }
.gui-icon-scheduling-month { background-position: -0px -96px; }
.gui-icon-scheduling-my_agenda { background-position: -16px -96px; }
.gui-icon-scheduling-my_day { background-position: -32px -96px; }
.gui-icon-scheduling-my_month { background-position: -48px -96px; }
.gui-icon-scheduling-my_week { background-position: -0px -112px; }
.gui-icon-scheduling-week { background-position: -16px -112px; }