* {
	font-family: Verdana, Helvetica, Arial;
	font-size: 10px;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	background: white url('/static/img/back.png') repeat 0 0 fixed;
}

a {
	color: darkblue;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

img { border: none; }

hr {
	border: none;
	border-top: 1px solid lightgray;
}

.gui-button {
    background-color: #004D5A;
    
    display: inline-block;
    font-weight: bold;
    height: 19px;
    line-height: 18px;
    
    text-decoration: none;
    padding:0;
    padding: 2px 8px 2px 8px;
    color: white;
    
    border: 1px solid #004D5A;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    
    font-size: 13px;
    
    margin: 0;
}
.gui-button:hover {
    text-decoration: none;
    background-color:rgb(0,77,80);
}
fieldset .gui-button {
	background-color: lightgray;
}
fieldset .gui-button:hover {
	background-color: gray;
}
.gui-icon {
    width: 16px;
    height: 16px;
    
    background-image: url('/static/img/sprites.png');
    background-repeat: no-repeat;
        
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin-bottom: 3px;
    text-indent: -99999px;
}

.toolbar {
    background-color: rgb(0,105,140);      
	
	padding: 8px 18px 8px 7px;
	
	border: 0;
	border-bottom: 1px solid #004D5A;
}

.submenu {
	float: left;
	clear: left;
	width:200px;
	
	margin-top: 0;
	margin-right: 10px;
	padding:8px 1em;
	
	background-color: #4D8896;
    font-size: 11px;
	
	border: 0;
	border-bottom-right-radius:			8px;
	-moz-border-radius-bottomright:		8px;
	-webkit-border-bottom-right-radius: 8px;
}
.submenu a.gui-button {
	display: block;
	
	padding: 1px 1px 1px 4px;
	margin-bottom: 2px;	
	
	background-color: #075C78;
	border: 1px solid #075C78;
	
	text-align: left;
	font-weight: normal;	
	font-size: 11px;
}
.submenu a.gui-button:hover {
	background-color: #004D50;
}
.submenu a.gui-button.selected{
	
	background-color: #004D5A;
	border: 1px solid #004D5A;
	
	text-align: left;
	font-weight: normal;	
	font-size: 11px;
}

.submenu input {
	display: block;
	width: 98.5%;
	background: white url('/static/img/icons/magnifier.png') no-repeat 100% 0%;
}
.submenu input:focus {
	border-color: white;
}

.submenu select {
	max-width: 100%;
}

.submenu .addbutton {
	background-color: rgb(40,109,140);
	padding-right: 25px;
	text-align: right;
}

.content {
	padding: 10px;
}

.footer {
	color: rgb(230,240,240);
	text-align: right;
	background-color: rgb(0,105,140);  
    border-top: 1px solid #004D5A;
	bottom: 0;
	padding: 4px 8px 4px 0;
}

fieldset {
	padding: 8px;
	border: 1px solid gray;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgb(242,242,242);
}

fieldset legend {	
	font-weight: bold;
	padding: 4px 24px;
	
	background: rgb(236,236,236) url('/static/img/icons/bullet_black.png') no-repeat 4px 50%;
	
	border: 1px solid gray;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

fieldset legend a {	
	background: no-repeat 4px 50%;
	font-weight: bold;
	background: rgb(236,236,236);
}


h1 {
	margin: 0 0 10px 0;
	padding: 4px 10px;
	
	background-color: rgb(222,222,222);
	text-align: center;
	font-size: 13px;
	
	border: 1px solid gray;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

table.levis_listing {
	width: 100%;
	
	padding: 3px;
	padding-top: 1px;
	
	border-spacing: 0 2px;
	border: 1px solid #dedede;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

}

table.levis_listing thead tr th {
	text-align: left;
	font-weight: normal;
	
	background-color: #dedede;
	
	padding: 3px 6px 3px 6px;
	
	border: 1px solid #bdbdbd;
	border-left: 0;	
}

table.levis_listing thead tr th.left {
	border-left: 1px solid #bdbdbd;
}

table.levis_listing tbody tr td {
	background-color: #ececec;	
	
	padding: 3px 6px 3px 6px;
	
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;	
}

table.levis_listing tbody tr td.left {
	padding-left: 20px;
	border-left: 1px solid #dedede;
	
	-moz-border-radius-bottomleft:4px;	
	-moz-border-radius-topleft:4px;
}

table.levis_listing tfoot tr td {
	font-weight: bold;
	padding: 3px 6px;
}

table.levis_listing tfoot tr td.left {
	font-weight: bold;
	padding:3px 6px 3px 22px;
}

/*

	Scheduling
	
*/
table.schedule {
	border-collapse: separate;
	border-spacing: 0 0;
	border: 1px solid gray;
	
	padding: 0px;	
	background-color: white;
}

/* This is what an event looks like */
dl.event {
	min-height: 35px;
	
	background-color: #32C8E6;
	padding: 0 0 1px;
	margin: 0;
	
	border: 1px solid #3096e5;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

dl.event dt {
	background-color: #3096e5;
	padding: 0 1px;
}

dl.event dd {
	padding: 0 1px;
	margin: 0;
}

/* Horizontal */
table.schedule.horizontal {
	width: 100%;
	overflow: auto;
}

table.schedule.horizontal tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

table.schedule.horizontal tr.days td {
	text-align: center;
	background-color: darkgray;
	padding: 3px;	
}

table.schedule.horizontal td {
	vertical-align: top;
}

table.schedule.horizontal td.hours {
	width: 60px;
	background-color: #F2F5F7;	
	padding: 0px 0 0px 0;	
}
table.schedule.horizontal td.hours div {	
	height: 41px;
	text-align: right;
	padding-right: 1px;
	border-bottom: 1px solid gray;
}
table.schedule.horizontal td.hours div div {
	height: 41px;	
}

/* event container */
table.schedule.horizontal td div.event_spacer {
	position: relative;	
}
table.schedule.horizontal td div.event_wrapper {
	position: relative;
	border-left: 1px solid lightgray;
}
table.schedule.horizontal td div.event_container {
	position: absolute;
	overflow: hidden;
}

/* time markers */
table.schedule.horizontal div.event_spanningwrapper {
	position: relative;
	top: 1px;
	margin-left: 1px;
}

table.schedule.horizontal div.event_hourmarker {
	position: absolute;
	width: 100%;
	height: 1008px;
}

table.schedule.horizontal div.event_markercell {
	float: left;
	height: 100%;
	width: 84px;
}

table.schedule.horizontal div.event_dualmarker {
	float: left;	
	height: 100%;
	width: 41px;	
	margin-right: 41px;
	
	border-right: 1px dotted #DDD;
	border-left: 1px solid #DDD;
	font-size: 1px;
}

/* Vertical */
table.schedule.vertical {
	width: 100%;
}

table.schedule.vertical tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

table.schedule.vertical tr.days td {
	text-align: center;
	background-color: darkgray;
	padding: 3px;	
}

table.schedule.vertical td {
	vertical-align: top;
}

table.schedule.vertical td.hours {
	width: 60px;
	background-color: #F2F5F7;	
	padding: 1px 0 1px 0;
}
table.schedule.vertical td.hours div {
	height: 41px;
	text-align: right;
	padding-right: 1px;
	border-bottom: 1px solid gray;
}
table.schedule.vertical td.hours div div {
	height: 41px;	
}
table.schedule.vertical td div.event_spacer {
	height: 1008px;
	margin-bottom: -1008px;
	position: relative;
}
table.schedule.vertical td div.event_wrapper {
	height: 1008px;
	margin-bottom: -1008px;
	position: relative;
	border-left: 1px solid lightgray;
}

table.schedule.vertical td div.event_container {
	position: absolute;	
	overflow: hidden;
	width: 100%;	
}

table.schedule.vertical div.event_spanningwrapper {
	position: relative;
	top: 1px;
	margin-left: 1px;
}

table.schedule.vertical div.event_hourmarker {
	position: absolute;
	width: 100%;
}

table.schedule.vertical div.event_markercell {
	height: 42px;
}

table.schedule.vertical div.event_dualmarker {
	height: 20px;
	margin-bottom: 20px;
	
	border-bottom: 1px dotted #DDD;
	border-top: 1px solid #DDD;
	font-size: 1px;
}

/* ZEBRA COLORING OF ROWS */
.even td {}
.odd td {	background-color: #f3f3f3;	}

/* Priority */
.verylow {	background-color: #CCFFCC;	}
.low {		background-color: #CCFFCC;	}
.normal {	background-color: #FFFF66;	}
.high {		background-color: #FF9966;	}
.veryhigh {	background-color: #FF0033;	}

/* Severity */
.debug {	background-color: #CCFFCC;	}
.info {		background-color: #CCFFCC;	}
.warn {		background-color: #FFFF66;	}
.error {	background-color: #FF9966;	}
.critical {	background-color: #FF0033;	}